<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title><%= title %></title>
		<% if (locals.description) { %>
		<meta name="description" content="<%= description %>" />
		<meta property="twitter:description" content="<%= description %>" />
		<meta property="og:description" content="<%= description %>" />
		<% } %>
		<meta name="keywords" content="tags" />

		<meta property="twitter:card" content="summary" />
		<meta property="twitter:title" content="<%= title %>" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="<%= title %>" />
	</head>

	<body class="no-js">
		<header class="header">
			<div class="header__layout">
				<span class="header__site-name">NZ Police Policy Directory</span>

				<div class="header__nav">
					<nav class="menu">
						<ul class="menu__list">
							<li class="menu__list-item"><a class="menu__list-link" href="/">Home</a></li>
							<li class="menu__list-item"><a class="menu__list-link" href="/Filter">Filter</a></li>
							<li class="menu__list-item"><a class="menu__list-link" href="/About">About</a></li>
						</ul>
					</nav>
				</div>

				<div class="header__tools">
					<div class="colour-scheme js-colour-scheme">
						<button
							type="button"
							class="colour-scheme__face js-colour-scheme__face"
							id="colour-scheme__face"

							aria-haspopup="menu"
							aria-controls="colour-scheme__menu"
						>Theme</button>

						<div
							class="colour-scheme__menu js-colour-scheme__menu"
							id="colour-scheme__menu"

							role="menu"
							aria-describedby="colour-scheme__face"
						>
							<li
								class="colour-scheme__menu__option colour-scheme--default js-colour-scheme__menu__option"
								tabindex="0"

								role="menuitemradio"
								data-value="default"
							>Default</li>
							<li
								class="colour-scheme__menu__option light js-colour-scheme__menu__option"
								tabindex="0"

								role="menuitemradio"
								data-value="light"
							>Light</li>
							<li
								class="colour-scheme__menu__option dark js-colour-scheme__menu__option"
								tabindex="0"

								role="menuitemradio"
								data-value="dark"
							>Dark</li>
						</div>
					</details>
				</div>
			</div>
		</header>

		<main>
