<%##
	locals: {
		title: string,
		description?: string,

		h1?: string,
		subtitle?: string,
		backLink?: boolean,

		meta?: Array<{
			name: string,
			content: string,
		}>,
	}
%>

<%
	if (!locals.h1) {
		locals.h1 = locals.title;
	}
%>

<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />

		<!--
			Favicon generated based on Twemoji Green Book icon

			Copyright 2020 Twitter, Inc and other contributors
			Code licensed under the MIT License: http://opensource.org/licenses/MIT
			Graphics licensed under CC-BY 4.0: https://creativecommons.org/licenses/by/4.0/
		-->
		<link rel="icon" href="/favicon.ico" />

		<% if (locals.description) { %>
			<meta name="description" content="<%= description %>" />
			<meta property="twitter:description" content="<%= description %>" />
			<meta property="og:description" content="<%= description %>" />
		<% } %>

		<meta property="twitter:card" content="summary" />
		<meta property="twitter:title" content="<%= title %>" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="<%= title %>" />

		<!--
			Social media preview image used under Unsplash Licence: https://unsplash.com/license

			Photo by Thomas Martinsen: https://unsplash.com/@faceline
			Source: https://unsplash.com/photos/4H9IuFBIpYM
		-->
		<meta property="og:image" content="/assets/images/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" />
		<meta property="og:image:alt" content="A grey notebook with a pen resting on top of it." />
		<meta property="og:image:width" content="1920" />
		<meta property="og:image:height" content="1135" />

		<% if (locals.meta) { %>
			<% for (const { name, content } of locals.meta) { %>
				<meta name="<%= name %>" content="<%= content %>" />
			<% } %>
		<% } %>

		<link rel="preload" href="/assets/fonts/montserrat/montserrat-bold-latin.woff2?v=1" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/assets/fonts/roboto/roboto-regular-latin.woff2?v=1" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/assets/fonts/roboto/roboto-bold-latin.woff2?v=1" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/assets/fonts/font-icons/font-icons.ttf?v=2" as="font" type="font/ttf" crossorigin />
	</head>

	<body class="no-js">
		<a href="#main" class="skip-link">Skip to main content</a>

		<section class="prototype-notice">
			<div class="prototype-notice__layout">
				<h1 class="prototype-notice__title">Under active development</h1>

				<div class="prototype-notice__message">
					<p>The site may break, links may stop working.</p>
				</div>
			</div>
		</section>

		<header class="header">
			<div class="header__layout">
				<span class="header__site-name"><%= siteData.name %></span>

				<div class="header__nav">
					<nav class="menu">
						<ul class="menu__list">
							<% for (const navItem of siteData.navigation.header) { %>
								<li class="menu__list-item"><a class="menu__list-link" href="<%= navItem.path %>"><%= navItem.name %></a></li>
							<% } %>
						</ul>
					</nav>
				</div>

				<div class="header__tools">
					<div class="colour-scheme js-colour-scheme">
						<button
							type="button"
							class="colour-scheme__face js-colour-scheme__face"
							id="colour-scheme__face"

							aria-haspopup="menu"
							aria-controls="colour-scheme__menu"
							aria-label="Theme"
						>
							<span class="colour-scheme__face-icon" aria-hidden="true"></span>
							<span class="colour-scheme__face-text">Theme</span>
						</button>

						<div
							class="colour-scheme__menu js-colour-scheme__menu"
							id="colour-scheme__menu"

							role="menu"
							aria-describedby="colour-scheme__face"
						>
							<li
								class="colour-scheme__menu__option js-colour-scheme__menu__option"
								tabindex="0"

								role="menuitemradio"
								data-value="default"
							>Default</li>
							<li
								class="colour-scheme__menu__option js-colour-scheme__menu__option"
								tabindex="0"

								role="menuitemradio"
								data-value="light"
							>Light</li>
							<li
								class="colour-scheme__menu__option js-colour-scheme__menu__option"
								tabindex="0"

								role="menuitemradio"
								data-value="dark"
							>Dark</li>
						</div>
					</details>
				</div>
			</div>
		</header>

		<main class="page" id="main">
			<header class="page__head">
				<div class="page__head__layout">
					<% if (locals.backLink) { %>
						<a href="../" class="page__head__back-link" title="Back to parent page">
							<span class="page__head__back-link__icon" aria-hidden="true"></span>
						</a>
					<% } %>
					<h1 class="page__title"><%= h1 %></h1>

					<% if (locals.subtitle) { %>
						<span class="page__subtitle"><%= subtitle %></span>
					<% } %>
				</div>
			</header>

			<div class="page__body">
				<div class="page__body__layout">
