<%#
	locals: {
		siteData: SiteData,
		pageData: {
			policy: Policy,
			versionPaths: Record<string, string>,
		}
	}
%>

<%
	const {
		policy,
		versionPaths,
	} = pageData;

	const {
		name,
		type,
		notices,
		versions,
	} = policy;

	/**
	 * A policy is a stub if none of its versions have any files
	 */
	 function isStub(policy) {
		const hasVersions = policy.versions.length > 0;
		if (!hasVersions) {
			return true;
		}

		const hasFiles = policy.versions.find((version) => version.files.length > 0);
		if (!hasFiles) {
			return true;
		}

		return false;
	}
%>

<%- include('../layout/head', {
	title: name,
	description: `This page describes the "${policy.name}" ${policy.type}`,
	h1: name,
	subtitle: `${type}${policy.obsolete ? ' (obsolete)' : ''}`,
	backLink: true,
}); %>

<% if (notices) { %>
	<% for (const notice of notices) { %>
		<%- include('../components/notice', { notice }); %>
	<% } %>
<% } %>

<% if (policy.versions.length > 0) { %>
	<article class="policy__version">
		<div class="policy__version__head">
			<span class="policy__version__label">Version</span>

			<h2 class="policy__version__name">
				<%
					const version = policy.versions[0];
					const { id } = version;
					const href = versionPaths[id];
				%>
				<%= include('../helpers/version-name', { version }); %> (Latest)
			</h2>

			<% if (href) { %>
				<a href="<%= href %>" class="policy__version__link">Permanent link to this version</a>
			<% } %>
		</div>

		<div class="policy__version__body">
			<%- include('../components/version', { version, policy }) %>
		</div>
	</article>

	<% if (policy.versions.length > 1) { %>
		<div class="policy__other-versions">
			<h2 class="policy__other-versions__heading">Other versions</h2>

			<ol class="policy__other-versions__list">
				<%
					const hasMultipleVersions = versions.length > 1;
				%>
				<% versions.slice(1).forEach((version, i, arr) => { %>
					<li class="policy__other-versions__item">
						<%
							const { id } = version;
							const href = versionPaths[id];
						%>
						<details class="policy__version policy__version--disclosure">
							<summary class="policy__version__name">
								<h3 class="policy__version__name-text"><%= include('../helpers/version-name', { version }); %></h3>
							</summary>

							<div class="policy__version__details">
								<% if (href) { %>
									<a href="<%= href %>" class="policy__version__link">Permanent link to this version</a>
								<% } %>

								<%- include('../components/version', { version, policy }) %>
							</div>
						</details>
					</li>
				<% }); %>
			</ol>
		</div>
	<% } %>

	<% if (!policy.versions.find((version) => version.isFirst)) { %>
		<div class="policy__older-versions-notice">
			Older versions may exist
		</div>
	<% } %>
<% } %>

<% if (isStub(policy)) { %>
	<%- include ('../components/stub-notice', { provenance: policy.provenance }); %>
<% } %>

<%- include('../layout/foot'); %>
