<%#
	locals: {
		version: PolicyVersion,
		policy: Policy,
	}
%>

<%
	const title = `${policy.title} ${version.name}`;
%>

<%- include('../layout/head', { title }); %>

<article class="policy">
	<div class="policy__layout">
		<h1 class="policy__title"><%= policy.title %> <%= version.name %></h1>

		<%- include('../components/version', { version }); %>
	</div>
</article>

<%- include('../layout/foot'); %>
