<%#
	locals: {
		siteData: SiteData,
		pageData: {
			version: PolicyVersion,
			policy: Policy,
			latest?: boolean,
			versionDst?: string,
		},
	}
%>

<%
	const {
		version,
		policy,
		latest,
		versionDst,
	} = pageData;

	const title = `${policy.name} ${version.name}`;

	/**
	 * A version is a stub if it doesn't have any files
	 */
	function isStub(version) {
		return version.files.length === 0;
	}
%>

<%- include('../layout/head', {
	title,
	description: `This page describes the ${include('../helpers/version-name', { version })} version of the "${policy.name}" ${policy.type}`,
	h1: policy.name,
	subtitle: `${policy.type}${policy.obsolete ? ' (obsolete)' : ''}`,
	backLink: true,
}); %>

<% if (latest) { %>
	<%- include('../components/notice', {
		notice: {
			type: "info",
			message: `\<p>This page displays the latest complete version for this policy. \<a href="/${versionDst}">A permanent link to this version can be found here.\</a>\</p>`
		}
	}) %>
<% } %>

<article class="policy__version">
	<div class="policy__version__head">
		<h2 class="policy__version__name"><%= include('../helpers/version-name', { version }); %></h2>
	</div>

	<div class="policy__version__body">
		<%- include('../components/version', { version, policy }); %>

		<% if (isStub(version)) { %>
			<%- include ('../components/stub-notice', { provenance: policy.provenance }); %>
		<% } %>
	</div>
</article>

<%- include('../layout/foot'); %>
