<%#
	locals: {
		version: PolicyVersion,
		policy: Policy,
	}
%>

<%
	const title = `${policy.title} ${version.name}`;
%>

<%- include('../layout/head', { title }); %>

<article class="policy">
	<div class="policy__layout">
		<h1 class="policy__title"><%= policy.title %></h2>
		<span class="policy__type"><%= policy.type %></span>

		<article class="policy__version">
			<h2 class="policy__version__name"><%= version.name %></h2>

			<%- include('../components/version', { version }); %>
		</article>
	</div>
</article>

<%- include('../layout/foot'); %>
