<%
	const {
		title,
		type,
		notices,
		versions,
	} = policy;
%>

<%- include('layout/head', { title }); %>

<article class="policy">
	<div class="policy__layout">
		<h1 class="policy__title"><%= title %><%= policy.obsolete ? ' (obsolete)' : '' %></h1>
		<span class="policy__type"><%= type %></span>

		<% if (notices) { %>
			<% for (const notice of notices) { %>
				<%- include('components/notice', { notice }); %>
			<% } %>
		<% } %>

		<ol class="policy__version-list">
			<%
				const hasMultipleVersions = versions.length > 1;
			%>
			<% versions.forEach((version, i, arr) => { %>
				<li class="policy__version-item">
					<%- include('components/version', {
						version,
						isLatest: hasMultipleVersions && i === 0,
						isFirst: i === 0,
					}) %>
				</li>
			<% }); %>
		</ol>
	</div>
</article>

<%- include('layout/foot'); %>
