<%##
	locals: {
		accessibility: Accessibility
	}
%>

<%
	const ratingIconClasses = new Map([
		['Good', 'good'],
		['Okay', 'okay'],
		['Poor', 'poor'],
		['Bad', 'bad'],
		['Undetermined', 'undetermined'],
	]);

	const { rating } = accessibility;
	const ratingClass = ratingIconClasses.has(rating) ? ` accessibility__summary--${ratingIconClasses.get(rating)}` : '';

	const featureIconClasses = new Map([
		[true, 'true'],
		[false, 'false'],
		['Partial', 'partial'],
		['Unknown', 'undetermined'],
	]);
%>

<details class="accessibility">
	<summary class="accessibility__summary<%= ratingClass %>">
		<span class="accessibility__summary__icon" aria-hidden="true"></span>
		<span class="accessibility__summary__label">Accessibility<%= rating ? ':' : ''%></span>
		<% if (rating) { %>
			<span class="accessibility__summary__rating"><%= rating %></span>
		<% } %>
	</summary>

	<div class="accessibility__details">
		<dl class="accessibility__feature-list">
			<% for (const featureName of Object.keys(accessibility)) {
				if (featureName === 'rating') {
					continue;
				} %>
				<% const feature = accessibility[featureName]; %>

				<div class="accessibility__feature-item<%= featureIconClasses.has(feature.value) ? ` accessibility__feature-item--${featureIconClasses.get(feature.value)}` : ''; %>">
					<dt class="accessibility__feature-name"><%= include('../helpers/dictionary', { key: featureName, case: 'sentence' }); %></dt>
					<dd class="accessibility__feature-value">
						<% if (featureIconClasses.has(feature.value)) { %>
							<span class="accessibility__feature-icon" aria-hidden="true"></span>
						<% } %>

						<% if (typeof feature.value === 'boolean') { %>
							<%= feature.value ? 'Yes' : 'No' %>
						<% } else { %>
							<%= feature.value %>
						<% } %>

						<% if (feature.notes) {
							for (const note of feature.notes) { %>
								<span class="accessibility__feature-note"><%- note %></span>
							<% }
						} %>
					</dd>
				</div>
			<% } %>
		</dl>
	</div>
</details>
