<%##
	locals: {
		accessibility: Accessibility
	}
%>

<%
	const iconClasses = {
		'Good': 'good',
		'Poor': 'poor',
		'Bad': 'bad',
		'None': 'none',
		'Undetermined': 'undetermined',
	};

	const { rating } = accessibility;
	const ratingClass = iconClasses[rating] ? ` accessibility__summary--${iconClasses[rating]}` : '';
%>

<details class="accessibility">
	<summary class="accessibility__summary<%= ratingClass %>">
		<span class="accessibility__summary__icon" aria-hidden="true"></span>
		<span class="accessibility__summary__label">Accessibility<%= rating ? ':' : ''%></span>
		<% if (rating) { %>
			<span class="accessibility__summary__rating"><%= rating %></span>
		<% } %>
	</summary>

	<div class="accessibility__details">
		<dl class="accessibility__feature-list">
			<% for (const [featureName, feature] of Object.entries(accessibility.features)) { %>
				<div class="accessibility__feature-item">
					<dt class="accessibility__feature-name"><%= include('../helpers/dictionary', { key: featureName, case: 'sentence' }); %></dt>
					<dd class="accessibility__feature-value">
						<% if (typeof feature === 'boolean' || typeof feature === 'string') { %>
							<%= feature %>
						<% } else { %>
							<%= feature.value %>
							<% if (feature.notes) {
								for (const note of feature.notes) { %>
									(<%- note %>)
								<% }
							} %>
						<% } %>
					</dd>
				</div>
			<% } %>
		</dl>
	</div>
</details>
