<div class="file">
	<%
		const fileName = file.path.replace(/^.*\//, '');
	%>

	<% if (file.notices) { %>
		<% for (const notice of file.notices) { %>
			<%- include('notice', { notice }); %>
		<% } %>
	<% } %>

	<div class="file__handle">
		<a href="<%= file.path %><%= file.startingPage ? `#page=${file.startingPage}` : '' %>" target="_blank" class="file__handle__link"><%= fileName %></a>
		<% if (file.size) { %>
			<span class="file__handle__size">(<%- include('../helpers/file-size', { size: file.size }); %>)</span>
		<% } %>
	</div>

	<%
		const provenance = file.provenance || version.provenance;
	%>

	<% for (const prov of provenance) { %>
		<%- include('provenance', { provenance: prov }); %>
	<% } %>

	<div class="file__licence">
		<p class="file__licence__handle">Licence:
			<% if (file.licence.url) { %>
				<a
					href="<%= file.licence.url %>"
					<% if (/^https?:/.test(file.licence.url)) { %>
						target="_blank"
					<% } %>
					class="file__licence__handle__link"
				><%= file.licence.name %></a>
			<% } else { %>
				<%= file.licence.name %>
			<% } %>
		</p>

		<% if (file.licence.notices) { %>
			<% for (const notice of file.licence.notices) { %>
				<%- include('notice', { notice }); %>
			<% } %>
		<% } %>
	</div>

	<% if (file.original) { %>
		<p class="file__original">Original file</p>
	<% } else { %>
		<p class="file__original">Not original file</p>
	<% } %>

	<% if (file.modifications) { %>
		<ul class="file__modifications">
			<% for (const modification of file.modifications) { %>
				<li class="file__modifications__item">
					<%= modification %>
				</li>
			<% } %>
		</ul>
	<% } %>

	<dl class="file__accessibility">
		<% for (const featureName of Object.keys(file.accessibility)) { %>
			<div class="file__accessibility__feature">
				<dt class="file__accessibility__feature__name"><%= featureName %></dt>
				<dd class="file__accessibility__feature__value">
					<% const feature = file.accessibility[featureName]; %>
					<% if (typeof feature === 'boolean' || typeof feature === 'string') { %>
						<%= feature %>
					<% } else { %>
						<%= feature.value %>
						<% if (feature.note) { %>
							(<%= feature.note %>)
						<% } %>
					<% } %>
				</dd>
			</div>
		<% } %>
	</dl>
</div>
