<div class="file">
	<%
		const fileName = file.path.replace(/^.*\//, '');
	%>

	<% if (file.notices) { %>
		<% for (const notice of file.notices) { %>
			<%- include('notice', { notice }); %>
		<% } %>
	<% } %>

	<div class="file__handle">
		<a href="<%= file.path %><%= file.startingPage ? `#page=${file.startingPage}` : '' %>" target="_blank" class="file__handle__link"><%= fileName %></a>
		<% if (file.size) { %>
			<span class="file__handle__size">(<%- include('../helpers/file-size', { size: file.size }); %>)</span>
		<% } %>
	</div>

	<%- include('accessibility', { accessibility: file.accessibility }); %>

	<div class="file__licence">
		<div class="file__licence__handle">Licence:
			<% if (file.licence.url) { %>
				<a
					<%- include('../helpers/href-with-target', { href: file.licence.url }) %>
					class="file__licence__handle__link"
				><%= file.licence.name %></a>
			<% } else { %>
				<%= file.licence.name %>
			<% } %>
		</div>

		<% if (file.licence.notices) { %>
			<% for (const notice of file.licence.notices) { %>
				<%- include('notice', { notice }); %>
			<% } %>
		<% } %>
	</div>

	<% if (file.incomplete) { %>
		<div class="file__incomplete">Incomplete file</div>
	<% } %>

	<% if (file.original) { %>
		<div class="file__original">Original file</div>
	<% } else { %>
		<div class="file__original">Not original file</div>
	<% } %>

	<% if (file.modifications) { %>
		<ul class="file__modifications">
			<% for (const modification of file.modifications) { %>
				<li class="file__modifications__item">
					<%= modification %>
				</li>
			<% } %>
		</ul>
	<% } %>

	<%
		const provenance = file.provenance || version.provenance;
	%>

	<% for (const prov of provenance) { %>
		<%- include('provenance', { provenance: prov }); %>
	<% } %>
</div>
