<%##
	locals: {
		policy: Policy,
		key: string,
	}
%>

<%
	/**
	 * A policy is a stub if none of its versions have any files
	 */
	function isStub(policy) {
		const hasVersions = policy.versions.length > 0;
		if (!hasVersions) {
			return true;
		}

		const hasFiles = policy.versions.find((version) => version.files.length > 0);
		if (!hasFiles) {
			return true;
		}

		return false;
	}
%>

<section
	class="policy-summary<%= isStub(policy) ? ' policy-summary--stub' : '' %> js-search__item"
	data-search-name="<%= policy.name %>"
	data-search-type="<%= policy.type %>"
	data-search-stub="<%= isStub(policy) %>"
	<% if (policy.previousNames) {
		const previousNamesList = policy.previousNames ? JSON.stringify(policy.previousNames).replace(/"/g, '&quot;') : null; %>
		data-search-previous-names="<%= previousNamesList %>"
	<% } %>
>
	<h2 class="policy-summary__title">
		<a href="<%= key %>" class="policy-summary__link"><%= policy.name %><%= policy.obsolete ? ' (obsolete)' : '' %></a>
	</h2>

	<% if (policy.previousNames) { %>
		<div class="policy-summary__previous-names">
			<span class="policy-summary__previous-names__title">Previously called</span>
			<ul class="policy-summary__previous-names__list">
				<% for (const name of policy.previousNames) { %>
					<li class="policy-summary__previous-names__item"><%= name %></li>
				<% } %>
			</ul>
		</div>
	<% } %>

	<span class="policy-summary__type"><%= policy.type %></span>

	<% if (isStub(policy)) { %>
		<span class="policy-summary__stub-notice">No files</span>
	<% } else { %>
		<%
			const latestVersion = policy.versions[0];
			const mainFile = policy.versions[0].files[0];

			const provenance = mainFile?.provenance || latestVersion.provenance;

			// From provenance objects with a `retrieved` date, create an array of retrieved dates and sort it from most recent to oldest
			const retrievedDates = provenance.filter((prov) => prov.retrieved).map((prov) => new Date(prov.retrieved)).sort();
		%>
		<% if (retrievedDates.length) { %>
			<span class="policy-summary__date">Last Updated: <%- include('../helpers/date-partial', { date: retrievedDates[0] }); %></span>
		<% } %>
	<% } %>
</section>
