<%##
	locals: {
		provenance: Provenance,
		options?: {
			omitExtractedDate?: boolean,
			omitEmptyWithholdings?: boolean,
		},
	}
%>

<%
	const method = (() => {
		if (provenance.refused) {
			if (provenance.method === 'Released under the OIA') {
				return 'Requested under the OIA';
			} else {
				return provenance.method;
			}
		} else {
			return provenance.method;
		}
	})();
%>

<div class="provenance">
	<%
		const withholdings = provenance.withholdings || provenance.oiaRequest?.withholdings;

		const [dateType, date] = (() => {
			if (provenance.published) {
				return ['Published', provenance.published];
			} else if (provenance.extracted && !locals.options?.omitExtractedDate) {
				return ['Extracted', provenance.extracted];
			} else if (provenance.released) {
				return ['Released', provenance.released];
			} else if (provenance.retrieved) {
				return ['Retrieved', provenance.retrieved];
			} else if (provenance.refused) {
				return ['Refused', provenance.refused];
			}
		})();
	%>

	<% if (method) { %>
		<div class="provenance__source">
			<% if (provenance.url) { %>
				<a
					<%- include('../helpers/href-with-target', { href: provenance.url }); %>
					class="provenance__source__link"
				><%= method %></a>
			<% } else { %>
				<%= method %>
			<% } %>

			<% if (provenance.source) { %>
				<% if (provenance.refused) { %>
					from
				<% } else { %>
					by
				<% } %>
				<%= provenance.source %>
			<% } %>
		</div>

		<% if (date) { %>
			<div class="provenance__date">
				<%- include('subcomponents/provenance-date', { date, dateType }); %>
			</div>
		<% } %>

		<% if (withholdings) { %>
			<% if (!(locals.options?.omitEmptyWithholdings && withholdings === 'None')) { %>
				<div class="provenance__withholdings">
					<%- include('../components/withholdings', {
						withholdings,
						options: {
							expandWithholdings: !!provenance.refused,
						},
					}) %>
				</div>
			<% } %>
		<% } %>
	<% } else {
		if (provenance.source) { %>
			<div class="provenance__source">Sourced from <%= provenance.source %></div>
		<% } %>

		<% if (date) { %>
			<div class="provenance__date">
				<%- include('subcomponents/provenance-date', { date, dateType }); %>
				</div>
		<% } %>

		<% if (withholdings) { %>
			<div class="provenance__withholdings">
				<%- include('../components/withholdings', {
					withholdings,
					options: {
						expandWithholdings: !!provenance.refused,
					},
				}) %>
			</div>
		<% } %>
	<% } %>
</div>
