<div class="provenance">
	<%
		const withholdings = provenance.withholdings || provenance.oiaRequest?.withholdings;
	%>

	<% if (provenance.published) { %>
		<span class="provenance__date">Published: <%- include('../helpers/date-partial', { date: provenance.published }); %></span>
	<% } else if (provenance.extracted) { %>
		<span class="provenance__date">Extracted: <%- include('../helpers/date-partial', { date: provenance.extracted }); %></span>
	<% } else if (provenance.released) { %>
		<span class="provenance__date">Released: <%- include('../helpers/date-partial', { date: provenance.released }); %></span>
	<% } else if (provenance.retrieved) { %>
		<span class="provenance__date">Retrieved: <%- include('../helpers/date-partial', { date: provenance.retrieved }); %></span>
	<% } %>

	<% if (provenance.method) { %>
		<div class="provenance__source">Source:
			<% if (provenance.url) { %>
				<a
					<%- include('../helpers/href-with-target', { href: provenance.url }); %>
					class="provenance__source__link"
				><%= provenance.method %></a>
			<% } else { %>
				<%= provenance.method %>
			<% } %>

			<% if (provenance.source) { %>
				by <%= provenance.source %>
			<% } %>

			<% if (withholdings) { %>
				<div class="provenance__withholdings">
					<% if (typeof withholdings === 'string') { %>
						Withheld information: <%= withholdings %>
					<% } else { %>
						<span>Some information was withheld under:</span>

						<%- include('../components/withholdings', { withholdings }) %>
					<% } %>
				</div>
			<% } %>
			</div>
	<% } else if (provenance.source) { %>
		<div class="provenance__source">Sourced: <%= provenance.source %></div>
	<% } %>
	<% if (provenance.requester) { %>
		<span class="provenance__requester">Requester: <%= provenance.requester %></span>
	<% } %>
</div>
