<%#
	locals: {
		version: PolicyVersion,
		policy: Policy,
	}
%>

<div class="version">
	<% if (version.notices) { %>
		<% for (const notice of version.notices) { %>
			<%- include('notice', { notice }); %>
		<% } %>
	<% } %>

	<%- include('../components/duration', { duration: version.duration }); %>

	<%
		const primaryFiles = [];
		const secondaryFiles = [];
		for (const file of version.files) {
			if (!file.documentType || file.documentType === 'Policy') {
				primaryFiles.push(file);
			} else {
				secondaryFiles.push(file);
			}
		}
	%>

	<% if (version.files.length > 0) { %>
		<% primaryFiles.forEach((file) => { %>
			<%- include('file', { file, version, policy }); %>
		<% }) %>

		<% if (secondaryFiles.length) { %>
			<div class="version__alternate-files">
				<h3 class="version__alternate-files__title">Secondary files</h3>
				<div class="version__alternate-files__contents">
					<% secondaryFiles.forEach((file) => { %>
						<%- include('file', { file, version, policy }); %>
					<% }) %>
				</div>
			</div>
		<% } %>
	<% } else { %>
		<%- include('notice', {
			notice: {
				type: 'error',
				message: 'This version has no files.',
			},
		}); %>
	<% } %>
</div>
