<!DOCTYPE html>
<html>
	<%- include('components/head', { title }); %>
	<body>
		<%- include('components/header') %>
		<main>
			<h2><%= title %></h2>
			<p><%= type %></p>

			<!-- TODO: Render notices -->

			<ol>
				<%
					const hasMultipleVersions = versions.length > 1;
				%>
				<% versions.forEach((version, i, arr) => { %> <%- include('components/version', { version, isFirst: hasMultipleVersions && i === 0 }) %> <% }) %>
			</ol>
		</main>
		<%- include('components/footer') %>
	</body>
</html>
