<li>
	<h2>
		<a href="<%= file.name %> "><%= file.name %></a>
	</h2>
	<% if (file.notices) { %>
		<% file.notices.forEach((notice) => { %>
			<aside>
				<h3><%= notice.type %></h3>
				<p><%= notice.message %></p>
			</aside>
		<% }) %>
	<% } %>

	<% if (file.provenance) { %>
		<% if (file.provenance.published) { %>
			<p>Published: <%= new Intl.DateTimeFormat().format(new Date(file.provenance.published)) %></p>
		<% } else if (file.provenance.released) { %>
			<p>Released: <%= new Intl.DateTimeFormat().format(new Date(file.provenance.released)) %></p>
		<% } else if (file.provenance.retrieved) { %>
			<p>Retrieved: <%= new Intl.DateTimeFormat().format(new Date(file.provenance.retrieved)) %></p>
		<% } %>

		<% if (file.provenance.requester) { %>
			<p>Requester: <%= file.provenance.requester %></p>
		<% } %>
		<% if (file.provenance.url && file.provenance.method) { %>
			<p>Source: <a href="<%= file.provenance.url %>"><%= file.provenance.method %></a></p>
		<% } %>
	<% } %>
</li>
