<%# TODO: Can we make helper format functions globally accessible? It would be good to be able to standardise them across all views %>
<%
	const formatDate = (date) => new Intl.DateTimeFormat().format(date);
	const formatDateString = (dateString) => formatDate(new Date(dateString));
%>

<a href="<%= file.path %>"><%= file.path %></a>

<% if (file.provenance) { %>
	<% if (file.provenance.published) { %>
		<p>Published: <%= formatDateString(file.provenance.published) %></p>
	<% } else if (file.provenance.released) { %>
		<p>Released: <%= formatDateString(file.provenance.released) %></p>
	<% } else if (file.provenance.retrieved) { %>
		<p>Retrieved: <%= formatDateString(file.provenance.retrieved) %></p>
	<% } %>

	<% if (file.provenance.requester) { %>
		<p>Requester: <%= file.provenance.requester %></p>
	<% } %>
	<% if (file.provenance.url && file.provenance.method) { %>
		<p>Source: <a href="<%= file.provenance.url %>"><%= file.provenance.method %></a></p>
	<% } %>
<% } %>

<div>
	<% if (file.licence === "none") { %>
		<p>Licence: <%= file.licence %></p>
	<% } else { %>
		<p>Licence:
			<% if (file.licence.url) { %>
				<a
					href="<%= file.licence.url %>"
					<% if (/^https?:/.test(file.licence.url)) { %>
						target="_blank"
					<% } %>
				><%= file.licence.name %></a>
			<% } else { %>
				<%= file.licence.name %>
			<% } %>
		</p>

		<% if (file.licence.notices) { %>
			<% for (const notice of file.licence.notices) { %>
				<%- include('notice', { notice }) %>
			<% } %>
		<% } %>
	<% } %>
</div>

<% if (file.original) { %>
	<p>Original file</p>
<% } else { %>
	<p>Not original file</p>
<% } %>

<% if (file.modifications) { %>
	<ul>
		<% for (const modification of file.modifications) { %>
			<li>
				<%= modification %>
			</li>
		<% } %>
	</ul>
<% } %>

<dl>
	<% for (const featureName of Object.keys(file.accessibility)) { %>
		<div>
			<dt><%= featureName %></dt>
			<dd>
				<% const feature = file.accessibility[featureName]; %>
				<% if (typeof feature === 'boolean') { %>
					<%= feature %>
				<% } else { %>
					<%= feature.value %> (<%= feature.note %>)
				<% } %>
			</dd>
		</div>
	<% } %>
</dl>
