<%
	const fileName = file.path.replace(/^.*\//, '');
%>

<% if (file.notices) { %>
	<% for (const notice of file.notices) { %>
		<%- include('notice', { notice }) %>
	<% } %>
<% } %>

<p>
	<a href="<%= file.path %>" target="_blank"><%= fileName %></a>
	<% if (file.size) { %>
		(<%= include('../helpers/file-size', { size: file.size }) %>)
	<% } %>
</p>

<%
	const provenance = file.provenance || version.provenance;
%>

<%- include('provenance', { provenance }) %>

<div>
	<% if (file.licence === "None") { %>
		<p>Licence: <%= file.licence %></p>
	<% } else { %>
		<p>Licence:
			<% if (file.licence.url) { %>
				<a
					href="<%= file.licence.url %>"
					<% if (/^https?:/.test(file.licence.url)) { %>
						target="_blank"
					<% } %>
				><%= file.licence.name %></a>
			<% } else { %>
				<%= file.licence.name %>
			<% } %>
		</p>

		<% if (file.licence.notices) { %>
			<% for (const notice of file.licence.notices) { %>
				<%- include('notice', { notice }) %>
			<% } %>
		<% } %>
	<% } %>
</div>

<% if (file.original) { %>
	<p>Original file</p>
<% } else { %>
	<p>Not original file</p>
<% } %>

<% if (file.modifications) { %>
	<ul>
		<% for (const modification of file.modifications) { %>
			<li>
				<%= modification %>
			</li>
		<% } %>
	</ul>
<% } %>

<dl>
	<% for (const featureName of Object.keys(file.accessibility)) { %>
		<div>
			<dt><%= featureName %></dt>
			<dd>
				<% const feature = file.accessibility[featureName]; %>
				<% if (typeof feature === 'boolean' || typeof feature === 'string') { %>
					<%= feature %>
				<% } else { %>
					<%= feature.value %>
					<% if (feature.note) { %>
						(<%= feature.note %>)
					<% } %>
				<% } %>
			</dd>
		</div>
	<% } %>
</dl>
