<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title><%= title %></title>
	<% if (locals.description) { %>
	<meta name="description" content="<%= description %>" />
	<meta property="twitter:description" content="<%= description %>" />
	<meta property="og:description" content="<%= description %>" />
	<% } %>
	<meta name="keywords" content="tags" />

	<meta property="twitter:card" content="summary" />
	<meta property="twitter:title" content="<%= title %>" />

	<meta property="og:type" content="website" />
	<meta property="og:title" content="<%= title %>" />
</head>
